.auction .table-rows {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(150px, 1.67fr) minmax(
            150px,
            1.67fr
        ) minmax(150px, 3.67fr) minmax(130px, 1fr) minmax(150px, 1.67fr) minmax(
            150px,
            1.67fr
        );
    width: 100%;
    height: 30px;
    align-items: center;
}

.auction .table-header-rows {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(150px, 1.67fr) minmax(
            150px,
            1.67fr
        ) minmax(150px, 3.67fr) minmax(130px, 1fr) minmax(150px, 1.67fr) minmax(
            150px,
            1.67fr
        );
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
